.calendar-button{
  background-color: #aaaaaa;
}

.calendar-input{
  background-color: #999;
  color: #fff;
  float: right;
  /*padding-right: 1px;
  margin-left: 55px;*/
}

.calendar-title{
  color: #fff;
}

.calendar-form{
  /*width: 600px;*/
  margin: auto;
}
.btn-save{
  width: 300px;
  margin: auto;
  float: right;
}
.debug{
  border: 0px solid yellow;
}
