
  <div *ngIf="timelog" class="container time-box">
    <div class="row">
      <div class="col-1 debug">
        <p class="time-label">IN</p>
      </div>
      <div class="col-5 time-picker debug">

        <ngb-timepicker [(ngModel)]="timelog.inTime"  [meridian]="true"></ngb-timepicker>

      </div>
      <div class="col-1 debug">
        <p class="time-label">OUT</p>
      </div>

      <div class="col-4 time-picker debug">
        <ngb-timepicker [(ngModel)]="timelog.outTime" [meridian]="true"></ngb-timepicker>
      </div>
      <div class="col-1 debug">

          <a class="btn-circle" href="#" (click)="removeTime(timelog)"><i class="fa fa-trash-o fa-lg"></i></a>

      </div>
    </div>
      <on-changes  [logIn]="timelog.inTime" [logOut]="timelog.outTime"></on-changes>
  </div>
