<div *ngIf="student" class="container timesheet-box">


  <div  class="btn-group btn-ts-nav" role="group">
    <button type="button" class="btn btn-primary btn-ts-student" data-toggle="collapse" [attr.data-target]="'#' + student.id">[IN]&nbsp;&nbsp;&nbsp;{{student.name}}</button>
    <button type="button" class="btn btn-primary btn-ts-add">Add Time</button>
    <button type="button" class="btn btn-primary btn-ts-open" data-toggle="collapse" [attr.data-target]="'#' + student.id"><i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></button>
  </div>

  <div id="{{student.id}}" class="collapse timesheet-form">
    <app-time-entry-form></app-time-entry-form>
    <app-time-entry-form></app-time-entry-form>
  </div>
</div>
